/* Provide sufficient contrast against white background */

.car {
    margin-bottom: 30px;
    max-height: 260px;
    max-width: 260px;
    border-radius: 70px;
}

.title {
    color: #FF1493; /*deep pink*/
    text-align: center;
}